# Ignore extracted dataset but keep the folder structure
/data/DAiSEE/

# Ignore virtual environment
venv/

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore temporary/system files
__pycache__/
*.pyc
.DS_Store

# Ignore logs or debug files
logs/
*.log

# Ignore Deep Lake cache
~/.deeplake/

# Ignore models
/models/
/notebooks/models_class