# Ignore extracted dataset but keep the folder structure
data/
/data/DAiSEE/
flash-attention/

# Ignore virtual environment
venv/
venv310/


# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore temporary/system files
__pycache__/
*.pyc
.DS_Store

# Ignore logs or debug files
logs/
*.log

# Ignore Deep Lake cache
~/.deeplake/

# Ignore models
/models/
/notebooks/models_class
/cache/
/results/
/ProEnsembleDistillationResults_Full/
/fusion_benchmark_20250408_130136/

# Ignore all PNG images
*.png

# Ignore all JPG images
*.jpg
*.jpeg

# Ignore all database files
*.db